DATABASE_URL="postgresql://..."
DIRECT_URL="postgresql://..."
SUPABASE_URL="https://TU-PROJECT-REF.supabase.co"
SUPABASE_SECRET_KEY="TU-SUPABASE-SECRET-KEY"
API_KEY="genera-una-clave-ASFJLKASJFLASDKFÑLAKSDJDFKL··$·$·%·$"
JWS_SECRET0="genera-una-clave-larga-y-aleatoria"
PORT=4000
GEMINI_API_KEY="tu-clave-de-google-ai-studio"
